.login {
    padding: $base-padding * 6;
    height: 100vh;
    width: 100%;

    header {
        @extend %flex-layout;
        margin-bottom: $base-margin * 4;
    }

    .login_form {
        @extend %flex-layout;
        justify-content: center;
        align-items: flex-start;
        padding: $base-padding;

        .pablo_sketch,
        .form_container {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 200px;
        }

        .pablo_sketch {
            margin-top: $base-margin * 5;
        }

        .form_container,
        form {
            @extend %flex-layout;
            flex-direction: column;
            align-items: flex-start;
        }

        .form_container {
            height: 100%;
            margin-left: $base-margin * 6;
            gap: 30px;
            position: relative;

            h2 {
                font-weight: 700;
                text-transform: capitalize;
                color: $primary-color;
                width: 100%;
                font-size: 40px;
            }

            .form_container_paragraph {
                font-size: 20px;
                color: $secondary-color;
                margin-bottom: $base-margin * 2;
            }

            .auth_error {
                position: absolute;
                color: $error;
                font-size: 14px;
                top: 30%;
                left: 27%;
                text-transform: capitalize;
            }

            form {
                gap: 30px;

                .field_wrapper,
                .input_wrapper,
                .submit_btn {
                    width: 80%;
                }

                .input_wrapper,
                .input,
                .submit_btn {
                    height: 50px;
                    outline: none;
                    border: 1px solid $secondary-color;
                    border-radius: 10px;
                    padding: $base-padding;
                }

                .field_wrapper {
                    position: relative;

                    .error_message {
                        position: absolute;
                        margin-top: calc($base-margin / 4);
                        margin-left: calc($base-margin / 4);
                        text-transform: capitalize;
                        color: $error;
                        font-size: 14px;
                    }
                }

                .input_wrapper {
                    &:focus-within {
                        border: 2px solid $secondary-color;
                    }
                }

                .input_wrapper {
                    width: 100%;
                }

                .input_wrapper {
                    position: relative;
                    cursor: text;

                    .input {
                        border: none;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        height: 45px;
                        width: 90%;
                    }

                    .show_btn {
                        position: absolute;
                        right: 0;
                        top: 1rem;
                        margin-right: $base-margin;
                        cursor: pointer;
                        color: $btn-color;
                        font-weight: 600;
                    }

                    .show_btn.disabled {
                        cursor: not-allowed;
                        opacity: 0.5;
                    }
                }

                a {
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $btn-color;
                    cursor: pointer;
                }

                .submit_btn {
                    background-color: $btn-color;
                    color: $bg-color;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    cursor: pointer;
                    border: none;

                    &.disabled_btn {
                        background-color: mix($btn-color, $bg-color, 60%);
                        color: $secondary-color;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}

@include xl {
    .login {
        padding: $base-padding * 4;

        header {
            margin-bottom: $base-margin * 3;
        }

        .login_form {
            padding: 0;

            .form_container {
                margin-left: $base-margin;
            }
        }
    }
}

@include lg {
    .login {
        .login_form {
            flex-direction: column;

            .pablo_sketch {
                display: none;
            }

            .form_container {
                margin-left: $base-margin * 4;
            }
        }
    }
}

@include md {
    .login {
        .login_form {
            gap: 20px;

            .form_container {
                margin-left: 0;
                gap: 20px;

                .form_container_paragraph {
                    margin-bottom: $base-margin;
                }

                form {
                    .field_wrapper,
                    .input,
                    .submit_btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include sm {
    .login {
        padding: $base-padding * 2;

        .login_form {
            padding-bottom: $base-padding * 4;

            .pablo_sketch {
                width: 350px;
                align-self: flex-start;
            }
        }
    }
}

@include breakpoint(375px) {
    .login {
        .login_form {
            .pablo_sketch {
                width: 300px;
            }
        }
    }
}
