.side_nav_container {
    .side_nav {
        @extend %flex-layout;
        flex-direction: column;
        gap: 7px;
        padding-bottom: $base-padding;
        width: 283px;
        height: 100%;
        background-color: $bg-color;
        box-shadow: $base-box-shadow;
        font-family: "Work Sans", sans-serif;
        background-color: $bg-color;
        overflow-y: scroll;
        z-index: 400;

        &::-webkit-scrollbar {
            display: none;
        }

        .side_nav_top {
            @extend %flex-layout;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            padding: $base-padding * 2;
            margin-top: $base-margin * 5;

            .side_nav_icon {
                display: none;
            }

            .side_nav-organisation,
            .side_nav-dashboard {
                @extend %flex-layout;
                gap: 11px;
            }

            .side_nav-organisation {
                cursor: pointer;

                span {
                    color: $primary-color;
                    font-weight: 400;
                }
            }

            .side_nav-dashboard {
                span {
                    color: $primary-color;
                    font-weight: 300;
                }
            }
        }

        .side_nav-group-container {
            width: 100%;
            margin-bottom: $base-margin;

            .side_nav-group {
                @extend %flex-layout;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                .side_nav-group-title {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 14.08px;
                    color: $secondary-color;
                    padding-left: $base-padding * 2;
                }

                ul {
                    @extend %flex-layout;
                    flex-direction: column;
                    align-items: flex-start;

                    .side_nav-group-list-item {
                        width: 100%;

                        &:hover {
                            background-color: mix($bg-color, $btn-color, 90%);
                        }

                        .side_nav-group-link {
                            @extend %side-nav-list-layout;
                        }
                    }
                }
            }
        }
    }
}

@include xxl {
    .side_nav_container {
        .side_nav {
            width: 250px;

            .side_nav_top {
                padding: $base-padding * 2 $base-padding;
            }

            .side_nav-group-container {
                .side_nav-group {
                    .side_nav-group-title {
                        padding-left: $base-padding;
                    }

                    ul {
                        .side_nav-group-list-item {
                            .side_nav-group-link {
                                padding: 10px $base-padding;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(1024px) {
    .side_nav_container {
        .menu_closed {
            width: 283px !important;
            position: fixed;
            background-color: $bg-color;
            overflow: scroll;

            .side_nav_top {
                .side_nav-dashboard,
                .side_nav-organisation {
                    span {
                        display: flex !important;
                    }
                }

                .side_nav_icon {
                    align-self: flex-end !important;

                    img {
                        rotate: 0deg !important;
                        transition: rotate 0.3s ease-in-out;
                    }
                }
            }

            .side_nav-group-container {
                .side_nav-group {
                    h3 {
                        display: inline-block !important;
                    }

                    ul {
                        li {
                            .side_nav-group-link {
                                span {
                                    display: flex !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .side_nav {
            width: 100%;

            .side_nav_top {
                .side_nav-dashboard,
                .side_nav-organisation {
                    span {
                        display: none;
                    }
                }

                .side_nav_icon {
                    display: block;
                    margin-top: -12%;
                    cursor: pointer;
                    align-self: flex-start !important;

                    img {
                        rotate: 180deg;
                        transition: rotate 0.3s ease-in-out;
                    }
                }
            }

            .side_nav-group-container {
                .side_nav-group {
                    h3 {
                        display: none;
                    }

                    ul {
                        li {
                            .side_nav-group-link {
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
