.table_container {
    width: 100%;
    overflow-x: auto;
    margin-top: $base-margin * 2;
    box-shadow:
        2px 2px 4px lightgray,
        -1px -1px 3px lightgray;
    padding: $base-padding;

    &::-webkit-scrollbar {
        display: none;
    }

    .table {
        width: 100%;

        tr {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            th {
                display: flex;
                gap: 10px;
                font-family: "Work Sans", sans-serif;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                color: $secondary-color;

                &.organization {
                    width: 150px;
                }

                &.username {
                    width: 160px;
                }

                &.email {
                    width: 230px;
                }

                &.phone_num {
                    width: 150px;
                }

                &.date {
                    width: 210px;
                }

                &.status {
                    justify-content: center;
                }

                img {
                    cursor: pointer;
                }
            }
        }

        .table_main_data {
            width: 100%;
            border-bottom: 1px solid mix($bg-color, $primary-color, 82%);
            display: flex;
            align-items: center;
            margin-top: $base-margin * 1.5;
            position: relative;

            td {
                display: flex;
                width: 100%;
                padding: 16px 10px 16px 0;
                font-size: 14px;
                color: $secondary-color;
                text-transform: capitalize;

                div {
                    padding: 10px 20px;
                    margin-left: 3px;

                    &.name {
                        padding: 0;
                        width: 150px;
                    }

                    &.email {
                        width: 220px;
                        padding: 0;
                    }

                    &.phone {
                        width: 100px;
                        padding: 0;
                    }

                    &.date {
                        width: 200px;
                        padding: 0;
                    }

                    &.active_status {
                        color: $active-color;
                        background-color: mix($bg-color, $active-color, 80%);
                        border-radius: 30%;
                        text-align: center;
                    }

                    &.inactive_status {
                        color: $secondary-color;
                        background-color: mix($bg-color, $secondary-color, 80%);
                        border-radius: 30%;
                        text-align: center;
                    }

                    &.pending_status {
                        color: $pending-color;
                        background-color: mix($bg-color, $pending-color, 80%);
                        border-radius: 30%;
                        text-align: center;
                    }

                    &.blacklisted_status {
                        color: $blacklisted-color;
                        background-color: mix($bg-color, $blacklisted-color, 80%);
                        border-radius: 30%;
                        text-align: center;
                    }
                }
            }

            img {
                cursor: pointer;
            }

            .options {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                background-color: $bg-color;
                margin-top: $base-margin * 3.5;
                padding: 20px 50px 22px 21px;
                height: 130px;
                border-radius: 4px;
                z-index: 200;

                .option {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    cursor: pointer;
                    text-transform: capitalize;

                    span {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
