.user_profile {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Work Sans", sans-serif;
    text-transform: capitalize;

    .user_profile_content {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;

        .go_back_btn {
            align-self: flex-start;
            display: inline-flex;
            align-items: center;
            gap: 13px;
            cursor: pointer;

            span {
                color: $secondary-color;
            }
        }

        .user_profile_content_title_wrapper {
            align-self: flex-start;
            @extend %flex-layout;
            justify-content: space-between;
            margin-top: $base-margin * 1.625;

            .user_profile_content-title {
                font-size: 24px;
                font-weight: 500;
                color: $primary-color;
            }

            .btn_wrapper {
                display: flex;
                gap: 20px;

                button {
                    border: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: 12px $base-padding;
                    border-radius: 10px;

                    &.blacklist_user {
                        border: 1px solid $blacklisted-color;
                        background-color: mix(
                            $bg-color,
                            $blacklisted-color,
                            96%
                        );
                        color: $blacklisted-color;

                        &:hover {
                            background-color: mix(
                                $bg-color,
                                $blacklisted-color,
                                50%
                            );
                            color: #000;
                        }
                    }

                    &.activate_user {
                        border: 1px solid $btn-color;
                        background-color: mix($bg-color, $btn-color, 96%);
                        color: $btn-color;

                        &:hover {
                            background-color: mix($bg-color, $btn-color, 70%);
                            color: #000;
                        }
                    }
                }
            }
        }

        .user_profile_details {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 40px;
            width: 100%;
            margin-top: $base-margin * 3;

            .top_details {
                display: flex;
                flex-direction: column;
                gap: 51px;
                width: 100%;
                box-shadow:
                    2px 2px 4px lightgray,
                    -1px -1px 3px lightgray;
                padding: 30px 30px 0 30px;

                .profile_details {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    .user_id_wrapper {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            border-radius: 50%;
                            height: 100px;
                            width: 100px;
                        }

                        .user_id {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 8px;

                            .user_name {
                                font-size: 22px;
                                font-weight: 500;
                                color: $primary-color;
                            }

                            .user_id_number {
                                color: $secondary-color;
                            }
                        }
                    }

                    .financial_details {
                        @extend %flex-layout;
                        gap: 30px;

                        .user_rating {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding: 30px;
                            border-right: 1px solid
                                mix($bg-color, $secondary-color, 80%);
                            border-left: 1px solid
                                mix($bg-color, $secondary-color, 80%);

                            .tier {
                                color: $secondary-color;
                            }
                        }

                        .user_account_details {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;
                            color: $primary-color;

                            .amount {
                                font-size: 22px;
                                font-weight: 500;
                            }

                            .bank_details {
                                font-size: 12px;
                            }
                        }
                    }
                }

                .profile_details_nav {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    width: 100%;

                    a {
                        padding: $base-padding - 0.5;
                        font-family: "SF Compact Text";
                        color: mix($bg-color, #000, 30%);

                        &:hover {
                            border-bottom: 2px solid $btn-color;
                            color: $btn-color;
                        }
                    }
                }
            }

            .bottom_details {
                display: flex;
                flex-direction: column;
                width: 100%;
                box-shadow:
                    2px 2px 4px lightgray,
                    -1px -1px 3px lightgray;
                padding: 0 30px;

                .information {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 30px;
                    padding-bottom: 28px;
                    padding-top: 30px;
                    border-bottom: 1px solid mix($bg-color, $primary-color, 85%);

                    .heading {
                        color: $primary-color;
                        font-weight: 500;
                    }

                    .education_and_employment {
                        grid-template-columns: repeat(
                            4,
                            minmax(0, 1fr)
                        ) !important;
                    }

                    .info_wrapper {
                        display: grid;
                        grid-template-columns: repeat(5, minmax(0, 1fr));
                        gap: 30px;

                        .email_address,
                        .office_email {
                            text-transform: lowercase;
                        }

                        .twitter,
                        .instagram {
                            text-transform: lowercase;
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            width: fit-content;

                            h5 {
                                text-transform: uppercase;
                                font-weight: 400;
                                color: $secondary-color;
                            }

                            p {
                                font-weight: 500;
                                color: $primary-color;
                            }
                        }
                    }

                    .guarantors_wrapper {
                        @extend %flex-layout;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 60px;

                        .guarantors {
                            display: grid;
                            grid-template-columns: repeat(4, minmax(0, 1fr));
                            gap: 30px;

                            .email_address {
                                text-transform: lowercase;
                            }

                            .info {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                color: $secondary-color;
                                width: fit-content;

                                h5 {
                                    text-transform: uppercase;
                                    font-weight: 400;
                                }

                                p {
                                    font-weight: 500;
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include xl {
    .user_profile {
        .user_profile_content {
            .bottom_details {
                .information {
                    .info_wrapper {
                        grid-template-columns: repeat(
                            4,
                            minmax(0, 1fr)
                        ) !important;
                    }
                }
            }
        }
    }
}

@include lg {
    .user_profile {
        .user_profile_content {
            .user_profile_details {
                .top_details {
                    padding: 30px 30px 0 20px;

                    .profile_details {
                        gap: 20px;

                        .user_id_wrapper {
                            gap: 12px;

                            img {
                                height: 80px;
                                width: 80px;
                            }
                        }

                        .financial_details {
                            .user_rating {
                                padding: 30px 20px;
                                border-left: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(800px) {
    .user_profile {
        .user_profile_content {
            .top_details {
                .profile_details_nav {
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    a:not(.active_nav) {
                        border-bottom: 2px solid mix($bg-color, #000, 30%);
                    }
                }
            }

            .bottom_details {
                .information {
                    .info_wrapper {
                        grid-template-columns: repeat(
                            3,
                            minmax(0, 1fr)
                        ) !important;
                        gap: 20px !important;
                    }
                }
            }
        }
    }
}

@include md {
    .user_profile {
        .user_profile_content {
            .user_profile_content_title_wrapper {
                flex-direction: column;
                align-items: start;
                gap: 20px;
            }

            .user_profile_details {
                .top_details {
                    .profile_details {
                        flex-direction: column;
                        align-items: start;
                    }

                    .profile_details_nav {
                        flex-wrap: nowrap;
                        flex-direction: column;
                        align-items: flex-start;

                        a {
                            padding: 0;
                        }
                    }
                }

                .bottom_details {
                    .information {
                        .education_and_employment {
                            grid-template-columns: repeat(
                                3,
                                minmax(0, 1fr)
                            ) !important;
                        }

                        .guarantors_wrapper {
                            .guarantors {
                                grid-template-columns: repeat(
                                    2,
                                    minmax(0, 1fr)
                                );
                                gap: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include sm {
    .user_profile {
        .user_profile_content {
            .user_profile_content_title_wrapper {
                .btn_wrapper {
                    flex-direction: column;
                }
            }

            .user_profile_details {
                .top_details {
                    .profile_details {
                        .financial_details {
                            flex-direction: column;
                            align-items: start;
                            gap: 20px;
                            padding-left: 10px;

                            .user_rating {
                                padding: 0;
                                border: none;
                            }
                        }
                    }
                }

                .bottom_details {
                    .information {
                        .info_wrapper {
                            grid-template-columns: repeat(
                                1,
                                minmax(0, 1fr)
                            ) !important;
                            gap: 25px !important;
                        }

                        .guarantors_wrapper {
                            .guarantors {
                                grid-template-columns: repeat(
                                    1,
                                    minmax(0, 1fr)
                                );
                            }
                        }
                    }
                }
            }
        }
    }
}
