.widget {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: $base-padding;
    box-shadow:
        2px 2px 4px lightgray,
        -1px -1px 3px lightgray;
    height: 160px;
    width: 100%;

    .widget_title {
        color: $secondary-color;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .widget_number {
        color: $primary-color;
        font-size: 24px;
        font-weight: 600;
    }
}

// @include md{
//     .widget {
//         height: 120px;
//         width: 100%;
//     }
// }
